@font-face {
  font-family: 'GongGothicLight';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicLight.woff') format('woff');
}
@font-face {
  font-family: 'GongGothicMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
}

.logo1 {
  max-width: 250px;
  margin-bottom: 20px; /* 로고 아래 간격 */
}

.end {
  max-width: 250px;
  /* margin-bottom: 10px; 이미지 아래 간격 */
}

.notice2 {
  font-size: 3.5rem;
}

/* 네모 박스에 그림자 추가 */
.box {
  padding: 20px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #fff; /* 박스 배경 색상 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 그림자 추가 */
  max-width: 800px; /* 박스의 최대 너비 */
  max-height: 800px; /* 박스의 최대 너비 */
  text-align: center;
  margin-top: 20px; /* 박스 위쪽 간격 */
}


/* 갤럭시탭 S8 대응 - 반응형 스타일 */
@media (min-width: 800px) and (max-width: 1600px) {
  .logo1 {
    max-width: 450px; /* 로고 크기를 더 크게 조정 */
    margin-bottom: 15px; /* 간격을 더 넓게 조정 */
  }

  .end {
    max-width: 250px; /* 체크 표시 이미지 크기 확대 */
    margin-bottom: 5px; /* 간격을 더 넓게 조정 */
  }

  .notice2 {
    font-size: 2.5rem; /* 텍스트 크기를 더 크게 조정 */
    margin-top: 25px;
  }
  .notice3 {
    font-size: 2.5rem; /* 텍스트 크기를 더 크게 조정 */
  }

}
