@font-face {
    font-family: 'GongGothicLight';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicLight.woff') format('woff');
}
@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
}

/* 상품 카드 스타일 */
.product-row {
    width: 100%;
    align-items: center;
    border-bottom: 1px solid #ddd;
    font-family: 'GongGothicLight';
}

.product-image {
    width: 70px;
    height: 70px;
    flex-shrink: 0;
}

.product-name {
    padding-left: 10px;
    font-size: 20px;
    text-align: left;
    flex-grow: 1;
}

.product-count, .product-price {
    text-align: center;
    padding: 10px;
    font-size: 18px;
}

.product-price {
    font-weight: bold;
    color: #005CB8;
}

/* 반응형 스타일 - 갤럭시탭 S8 대응 */
@media (min-width: 800px) and (max-width: 1600px) {
    .product-row {
        padding: 15px 0;
    }

    .product-image {
        width: 100px;
        height: 100px;
    }

    .product-name {
        font-size: 30px;
    }

    .product-count, .product-price {
        font-size: 20px;
    }
}
